:root{
    --primay: #949597;
    --backgroud: #ecedef;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--backgroud);
    color: #242731;
}

/* header */
header {
    background-color: #d9d9d9a4;
    padding: 10px 20px;
    z-index: 100000;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Memisahkan elemen ke kiri dan kanan */
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logo-title{
    font-size: 24px;
}

.navbar {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
}

.navbar-contact a {
    margin-left: 15px; /* Jarak antar link */
    text-decoration: none; /* Menghilangkan garis bawah */
    color: #333; /* Warna teks link */
}

.navbar-contact a:hover {
    color: #007BFF;
}

/* hero section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-image: url(/files/foto-sekolah.jpg); */
    background-position: center;
    background-size: cover;
}

.hero .text{
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero .text h1{
    font-weight: 700;
}

.hero .text p{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}



/* visi misi section */
.section-title{
    text-align: center;
    margin-bottom: 20px;
}


/* About Section */
.about {
    padding: 60px 20px;
    background-color: white;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-text p, .about-text ul {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Team Section */
.team {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.team h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.team-member {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.team-member img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #198e90;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1.1rem;
    color: #666;
}

.team-member:hover {
    transform: translateY(-10px);
}

/* Footer */
footer {
    background-color: #006b6d;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}